@{
    ViewData["Title"] = "History";
}

<div class="text-center">
    <h1 class="display-4">History</h1>
    <p>This page will contain information on how Warhammer has evolved over the years</p>
</div>