@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-class">Welcome to my Warhammer 40k fan site!</h1>
    <p>Check in frequently for the latest info on new models, books, and news in the grim dark future.</p>
</div>