@{
    ViewData["Title"] = "Sources";
}

<div class="text-center">
    <h1 class="display-4">Sources</h1>
    <p>This page is dedicated to various sources of information and resources related to the creation of this site</p>
</div>
