@{
    ViewData["Title"] = "BookClub";
}

<div class="text-center">
    <h1 class="display-4">Book Club Home</h1>
    <p>This page will be used to host discussions on books and recommendations for new ones.</p>
</div>