@{
ViewData["Title"] = "Recommendations";
}

<div class="text-center">
    <h1 class="display-4">Book Recommendations</h1>
    <p>Need help deciding what to read next? Check out some of our recommended options!</p>
</div>